VITE_SITE_URL=https://www.axonixtechnologies.com
VITE_CONTACT_EMAIL=support@axonixtechnologies.com
VITE_PHONE=+917448554709

PORT=4000
RESEND_API_KEY=your_api_key
FROM_ADDRESS=onboarding@resend.dev
TO_ADDRESS=support@axonixtechnologies.com
